################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GithubTest/src/GithubTest/obj/
/GithubTest/src/GithubTest/bin/
